@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/breakpoints";

.selectContainer {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @include BreakpointMobile {
        align-items: center;
    }
}
select {
    padding: 10px 2rem;
    width: 300px;
    border: none;
    border-radius: 5px;
    font-family: $font-secondary;
    text-transform: uppercase;
    background-color: whitesmoke;
    margin: 1rem 0;
    outline: none;
    cursor: pointer;
    &:hover,
    &:focus {
        outline: 3px $color-tertiary solid;
    }
    @include BreakpointMobile {
        width: 280px;
    }
    option {
        outline: none;
        background-color: whitesmoke;
    }
}
