@import "../../partials/mixins";
@import "../../partials/variables";
@import "../../partials/breakpoints";
.fade {
    width: 130%;
    height: 100%;
    position: absolute;
    background-color: #333;
    opacity: 0.8;
    z-index: 1;
}

#modal {
    width: 100%;
    height: 150vh;
    position: absolute;
}
.modal {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 700px;
    height: 400px;
    z-index: 2;
    background-color: $color-secondary;
    border-radius: 10px;
    text-align: center;
    animation: upToDown 0.5s ease-in;
    > h2 {
        @include FontFormat($font-secondary, 1.3rem, #333, bold);
        margin-top: 0.5rem;
    }
    @include BreakpointMobile {
        width: 350px;
    }
}
