@import "./partials/variables";
@import "./partials/mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        to top,
        #f7aef8,
        #dea6f8,
        #c39ff7,
        #a499f5,
        #8093f1
    );
}
main {
    text-align: center;
    h2 {
        @include FontFormat($font-primary, 1.4rem, #333, bold);
        margin: 1rem 0;
        letter-spacing: 3px;
    }
}
.hide {
    display: none;
}
