@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/breakpoints";

.taskListContainer {
    display: flex;
    flex-direction: row;
    width: 600px;
    background-color: $color-tertiary;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    border-bottom: 5px $color-primary solid;
    border-radius: 10px;
    padding: 0.5rem 0;
    animation: slideRight 0.5s ease-in;

    @include BreakpointMobile {
        width: 90%;
    }
    .infoTasks {
        display: grid;
        gap: 1rem;
        place-items: center;
        @include BreakpointMobile {
            gap: 0.5rem;
        }
        .titleTasks {
            @include FontFormat($font-secondary, 1.6rem, #333, bold);
            text-transform: capitalize;
            width: 250px;
            text-align: center;
            position: relative;
            word-wrap: break-word;
            white-space: pre-wrap;
            @include BreakpointMobile {
                font-size: 1.4rem;
            }
        }
        .difficultyTasks {
            @include FontFormat($color-primary, 1.2rem, #333, bold);
            text-transform: capitalize;
            text-align: center;
            @include BreakpointMobile {
                font-size: 1rem;
            }
        }
    }
    .taskIcons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
        @include BreakpointMobile {
            gap: 1.4rem;
        }
        > svg {
            font-size: 1.7rem;
            color: #333;
            cursor: pointer;
            transition: all 0.3s ease;
            @include BreakpointMobile {
                font-size: 1.5rem;
            }
        }
        > svg:hover,
        > svg:focus {
            transform: scale(0.9);
        }
    }
}

.withoutTasks {
    @include FontFormat($font-secondary, 1.6rem, #333, bold);
    text-transform: capitalize;
    text-align: center;
    margin-top: 5rem;
    @include BreakpointMobile {
        font-size: 1.3rem;
    }
}
